<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0, minimum-scale=1, user-scalable=yes"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.css">
    <link rel="stylesheet" href="../assets/css/pnotify.custom.min.css">
    <link rel="shortcut icon" href="../assets/img/educativo.jpg" type="image/x-icon">
    <title>Educative</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Educative</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#" id="students">Students
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="teachers">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" id="courses">Courses</a>
                </li>
                <li>
                    <select class="btn btn-outline-secondary add_entity">
                        <option value="0">Add new entity</option>
                        <option value="1">Students</option>
                        <option value="2">Teachers</option>
                        <option value="3">Courses</option>
                    </select>
                </li>
            </ul>
            <img src="../assets/img/educativo.jpg" style="width: 50px;border-radius: 5px;" class="pull-right" alt="">
        </div>
    </nav>
    <br>

    <div class="table-responsive">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;text-transform: uppercase;" id="title"></h1>
                <table class="table" id="tbl_edu">
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="students_teachers" style="display: none">
                        <div class="form-group">
                            <label>Identification</label>
                            <input type="text" class="form-control Identification" placeholder="Enter Identification">
                        </div>
                        <div class="form-group">
                            <label>Names</label>
                            <input type="text" class="form-control Names" placeholder="Enter Names">
                        </div>
                        <div class="form-group">
                            <label>LastName</label>
                            <input type="text" class="form-control LastName" placeholder="Enter LastName">
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control Gender">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                    </div>
                    <div class="courses" style="display: block">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control Code" placeholder="Enter Code">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control Name" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label>Observation</label>
                            <textarea class="form-control Observation" placeholder="Enter Observation"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success save_changes" value="">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.js"></script>
    <script src="../assets/js/pnotify.custom.min.js"></script>
    <script src="../assets/js/home.js"></script>
</body>

</html>